# Dependencies
node_modules/
html-minify/
.vscode/

# Logs and Build Artifacts
*.log
build/
dist/

# Config Files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
ecosystem*

# Package stuff
node_modules
node_modules/
node_modules.new
ecosystem*

# OS-specific files
.DS_Store
checkout_combined.sql
__pycache__
