

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Check out Log</title>
  <%- include('../views/globalhead'); %>
    </head>
    <body>
    <div id="navbar">
      <a href="/">Home</a>
      <a href="/admin">Admin</a>
      <a href="/tklog">TK Log</a>
      <a href="/iplog">IP Log</a>
      <a class="active" href="/analytics">Analytics</a>
    </div>
    <h1>Analytics is currently unavailable.</h1>
</body>
</html>