<head>
    <title>Blocked - Check-out</title>
<%- include('../views/globalhead'); %>
<%- include('../views/navbar'); %>
</head>
<body>
    

<div class="homecontent">
<b>Your account, <i><%= DSname %> (<%= username %>)</i> has been blocked from this service.</b>
</div>
</body>