<head>
    <title>Flagged request - Check-out</title>
<%- include('../views/globalhead'); %>
<%- include('../views/navbar'); %>
</head>
<body>
    

<div class="homecontent">
<b>A request made by <i><%= ip %></i> has been flagged as harmful by anti-abuse measures.</b> <br><br>Please go <a class="sub-table-link" href="/">back</a> and check your submission.
<br>
</div>
</body>