<head>
    <title>Undo submission - Check-out</title>
<%- include('../views/globalhead'); %>
<%- include('../views/navbar'); %>
</head>
<body>
    

<div class="homecontent">
Your submission has been removed. <br><br><b>Submit the correct code <a class="sub-table-link" href="/">here</a>!</b>
</div>
</body>