<!DOCTYPE html>
<html lang="en">

<head>
    <title>AutoCheckin FAQ - CheckOut</title>
    <meta name="description"
        content="Frequently asked questions (FAQ) for CheckOut. Learn about CheckOut's processes and how to use the site.">
    <%- include('../../global/head'); %>
        <style>
            <%- include('../../global/faq-helpers/styles.css');
            %>
        </style>
</head>

<body>
    <%- include('../../global/navbar'); %>

        <h1>AutoCheckin FAQ</h1>

        <!-- Inline SVG Definition -->
        <svg style="display: none;">
            <symbol id="chevron-up" viewBox="0 0 512 512">
                <path
                    d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z" />
            </symbol>
        </svg>

        <div class="accordion-section">
            <!-- <h2>Learn</h2> -->
            <div class="accordion active">
                <div class="accordion-header">
                    The Infrastructure Behind CheckOut
                    <svg class="chevron">
                        <use href="#chevron-up"></use>
                    </svg>
                </div>
                <div class="accordion-content">
                    <p>At CheckOut, we prioritize traditional and robust web development processes. Our scalable and
                        resilient server network is powered by a classic stack of nginx, Varnish, and Node.js. For
                        enhanced security, we use a non-Cloudflare security proxy to protect against DDoS attacks.
                        <br><br>

                        We avoid modern frameworks and technologies, focusing instead on proven, reliable methods. By
                        not using serverless solutions, we maintain greater control over our infrastructure, ensuring
                        better stability and performance. This traditional approach allows us to deliver consistent and
                        secure services, minimizing the risk of downtime and technical issues. </p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header">
                    Device ID's and Tracking
                    <svg class="chevron">
                        <use href="#chevron-up"></use>
                    </svg>
                </div>
                <div class="accordion-content">
                    <p>We use a combination of your IP address, account information, and device ID (stored in a cookie)
                        to identify and track your activity on our site, including submissions. This tracking system
                        helps us build your reputation and enhance account functionality, ensuring a personalized and
                        secure experience.<br><br>
                        Please note that only logged-in users can access their settings page and manage their account
                        information. For more control over your data, visit our <a href="/data">Data Control</a> page
                        where you can reset and delete your information, and request a copy of any data we hold about
                        you.<br><br>
                        Displayed in the footer of the <a href="/account">account and settings</a> page, your device ID
                        is linked to the cookie that CheckOut stores in your browser or mobile device, which is
                        essential for reputation building and account functionality. <br><br>More information is
                        available in the <a href="/terms-privacy">Terms and Privacy policy</a>.</p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header">
                    Caching
                    <svg class="chevron">
                        <use href="#chevron-up"></use>
                    </svg>
                </div>
                <div class="accordion-content">
                    <p>For performance reasons and to ensure the best user experience, especially during busy times, API
                        and code results are hard-cached. This means the cache cannot be manually refreshed by users.
                        However, data should not be delayed by more than a minute, and in normal use, the data displayed
                        on the home page, for example, is updated almost instantaneously.<br><br>

                        Please note that caching does not affect <a href="/auto">AutoCheckin</a> users, as their
                        check-ins are processed instantly on the server-side.</p>
                </div>
            </div>
        </div>

        <div class="footer-help">
            <div class="footer-help-title">
                You have more questions?
            </div>
            <div class="footer-help-content">
                <p><a href="mailto:checkout@jemedia.xyz">CheckOut@jemedia.xyz</a></p>
            </div>
        </div>

        <script>
            <%- include('../../global/faq-helpers/drops.js'); %>
        </script>
</body>

</html>